@keyframes chat-icon-anim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes drawer-amin {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0px);
  }
}
// @keyframes maximize-amin {
//   0% {
//     width: 30px;
//     height: 30px;
//   }
//   100% {
//     width: 300px;
//     height: 300px;
//   }
// }
// @keyframes minimize-amin {
//   0% {
//     width: 80px;
//     height: 80px;
//   }
//   100% {
//     width: 30px;
//     height: 30px;
//   }
// }
