$color-white: #fff;
$color-black: #000;
$color-black-lt: #352f2f;

//header
$color-header: #193a4b;

$color-main-bg: #ddd5;
$color-gray: #ddd;

$bg-blue: #1d5069;
$border-blue-light: #1d50694a;

//form
$color-form-title: #572f3d;
$color-border-input: #0000001f;
$color-border-light: #0000004a;
$color-gray-light: #efefef;

//shadow
$shadow-form-fix: 2px 3px 6px #0000001a;
$shadow-btn-fix: 2px 3px 6px #0005;
$shadow-fix: 0px 0px 4px #dbdbdb;

//button
$color-btn: #060a2d;
$color-btn-save: linear-gradient(43deg, #f29553, #f7b17ebf);

$color-green: #059905;
$color-yellow: rgb(255, 255, 0);

//error
$color-error: #ff0057;
$color-placeholder: #00000079;

//vendor screens
$color-green-light: #d8ff9c85;
$color-gd-aqua-light: linear-gradient(177deg, #c0fff6, #42c1bf8f);
